/* your basic elements */
html body {

    background-color: black;
    background-image: url("images/cartographer.png");
    text-align: center;
    padding-left: 10px; 
    
   

}

/* your text - colour and font*/

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 120pt;
    font-weight: 300;
    line-height: 10px;
    text-shadow: 2px 5px 0 rgba(0,0,0,0.1);
    color: #66FFFF;

}

h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
    font-weight: ;
    text-transform: uppercase;
    color: white;
}

h5{
	font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 2px;
    text-align: left;
    padding-left: 80px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: white;
    /*font-size: 10px;*/
}

div{
    padding: 5px;
}

/* lists */

ol{
    font-family: Arial;
    font-size: 10pt;
    color: pink;
    text-align: left;
    padding-left: 300px;
}

ul{
	font-family: Arial;
    font-size: 10pt;
    color: lightgrey;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px
}

ul a {
    font-family: Arial;
    font-size: 10pt;
    color: #CFCFCF;
    text-align: left;
}






/* ID's */
#headFrame {
    color:white;
    background-image: url("images/tile2.gif"); 
    padding: 10px 100px 10px 10%;

  
}

#textCard {
    color:white;
   
        
        border-radius: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10%;
}

/* classes */
.brainFrame{
    color:white;
    
    height: 300px;
    padding: 5px;
    vertical-align: center;
}
.blueFrame{
    color:white;
    padding: 5px;
}
.myButton {
    background-color:#5fcbe6;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:21px;
    padding:16px 31px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#33cbd6;
}
.myButton:active {
    position:relative;
    top:1px;
}
