/* CSS style sheet, is linked to the html page you want to style */
/* The CSS modifys the HTML */

/* the most basic 'selectors' for CSS use html elements names to assign styles to those elements */
/* here "html body" HTML DOM element name, is used to indicate that the main html body will be modified by the styles listed below it */
html body {
    background-color: teal;
    color: pink;
}

/* text - colour and font */
h1{
	color: white;
	font-size: arial;
	font-weight: bold;
	font-size: 40pt;
	background-color: pink;
	padding-left: 20px;
}

p {
color: blue;
}





/*  lists */


/*  divs */

.myBlueBox {
		background-color: blue;
	width: 200px;
	height: 200px;
}